*{
   
}.side-drawer{
   height: 100%;
   background: white;
   box-shadow: 2px 0px 5px rgba(0, 0, 0, 0,5);
   position: fixed;
   top: 0;
   left: 0;
   width: 80%;
   max-width: 400px;
   z-index: 200;
   transform: translateX(0%);
   transition: transform 0.5s ease-out;
}.side-drawer ul{
    height: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.side-drawer a {
    text-decoration: none;
    color: grey;
}.side-drawer a:hover,
.side-drawer a:active{
    color: #1D267E;
}.side-drawer.open{
    transform: translateX(100%);
}.Drawer-Container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}.Icon-Container1{
    border: 1px solid black;
    display: flex;
    width: 80%;
    align-items: center;
}.Title-Container1{
   margin-left: 10%;
}.icon-png{
    width: 2rem;
    height: 2rem;
}.btn-container{
    display: flex;
    justify-content: center;
   justify-items: center;
}.Login-btn{
    border: none;
    background: transparent;
}.Signup-btn{
    margin-left: 20px;
    border: none;
    color: white;
    background-color: #1D267E ;
    border-radius: 15px;
    width: 6rem;
    height: 2.3rem;
}.Close-Icon{
    display: flex;
    align-items: center;
}