*{
    font-family: 'Poppins', sans-serif;
    flex-wrap: wrap;
    border: 1px solid black;
}.Basic-Container{
    margin-top: 1%;
    position: sticky;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}.Icon-Container{
    display: flex;
    align-items: center;
    width: 14rem;
    justify-content: space-between;
}.Icon-Images{
    height: 40px;
    width: 40px;
}.Title-Container{
   font-size: larger;
}.Nav-Section{
    display: flex;
    color: grey;
    width:60rem;
    justify-content: space-between;
    list-style: none;
}.Btn-Conatiner{
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}.Login-Container{
    border: none;
    background-color: transparent;
    color: grey;
}.Signup-Container{
    margin-left: 20px;
    border: none;
    color: white;
    background-color: #1D267E ;
    border-radius: 20px;
    width: 7rem;
    height: 2.5rem;
} .Nav-Section a:hover, .Nav-Section a:active{
    color:#1D267E;
}.Nav-Section a {
    color: grey;
    text-decoration: none;
}.Services-Text{
    display: flex;
    gap: 10px;
    justify-content: center;
}.Services-Chevron{
    display: flex;
    align-items: center;
}
@media (max-width: 1138px ){
    .Nav-Container, .Btn-Conatiner{
        display: none;
    }
}@media (min-width: 1137px) {
    .toggle-container{
        display: none;
    }
}
@media (max-width: 1491px ){
    .Nav-Section{
        display: flex;
        color: grey;
        width:50rem;
        justify-content: space-between;
        list-style: none;
    }
}@media (max-width: 1338px ){
    .Nav-Section{
        display: flex;
        color: grey;
        width:38rem;
        justify-content: space-between;
        list-style: none;
    }
}.toggle-container{
    margin-right: 4%;
}.Reac-Icon1{
position: absolute;
margin-top: 5px;
margin-left: 10px;
}.Nav-Section1{
    margin-top: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 10px;
}