*{
    font-family: 'Poppins', sans-serif;
    
    flex-wrap: wrap;
}.Basic-Container{
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}.Icon-Container{
    display: flex;
    align-items: center;
    width: 14rem;
    justify-content: space-between;
}.Icon-Images{
    height: 40px;
    width: 40px;
}.Title-Container{
   font-size: larger;
}.Nav-Section{
    display: flex;
    color: grey;
    border: 1px solid black;
    width:40rem;
    justify-content: space-between;
    list-style: none;
}.Btn-Conatiner{
    width: 10rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5rem;
}.Login-Container{
    border: none;
    background-color: transparent;
    color: grey;
}.Signup-Container{
    margin-left: 20px;
    border: none;
    color: white;
    background-color: #1D267E ;
    border-radius: 15px;
    width: 5.5rem;
    height: 2.5rem;
} .Nav-Section a:hover, .Nav-Section a:active{
    color:#1D267E;
}.Nav-Section a {
    color: grey;
    text-decoration: none;
}
@media (max-width: 1120px ){
    .Nav-Container, .Btn-Conatiner{
        display: none;
    }
}@media (min-width: 1119px) {
    .toggle-container{
        display: none;
    }
}
.toggle-container{
    
}.Nav-Container{
    border: 1px solid black;
}@media (max-width: 1119){
    .Basic-Container{
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
}