*{
  
}.Cards{
    display: flex;
    gap: 120px;
}.Card-1{
    
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}.Card-2{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}.Card-3{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    justify-content: center;
}.Cards p{
    margin: 5%;
    color: grey;
}.Bosnia-Features{
    margin: 2%;
    display: flex;
    justify-content: center;
}.Card-1 :hover{
    box-shadow: 10px;
}