*{
    border: 1px solid black;
}.Container-1{
    margin-top: 2%;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}.Text-Container{
    width: 40%;
    margin-top: 5%;
}.Text-2{
    color: grey;
    font-weight: light;
}.text-1{
    font-size: max(25px,2.75vw);
}.Icon-Purple{
    width: 5%;
    height: 50%;
    display: flex;
    margin-top: 10%;
}.Group110{
    width: 40%;
    height: 40%;
}.Group110-img{
    width: 100%;
}.Company-Container{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}.getstarted-btn{
    border: none;
    color: white;
    background-color: #1D267E ;
    border-radius: 20px;
    width: 7rem;
    height: 2.5rem;
}.readmore-btn{
    border: none;
    flex-basis: 20%;
    background-color: transparent;
    color: grey;
}.btn-more{
    margin-top: 10%;
    display: flex;
}.anydesk-icon, .frloitte-icon, .viber-icon{
    width: 100px;
}.ebay-icon{
    width: 60px;
}





















