*{

}
.All{
    display: flex;
    width: 100%;
}.Text-Section{
    margin-top: 80px;
    margin-left: 60px;
    margin-right: 80px;
}.Text1{
    width: 500px;
    height: 100px;
}.Text2{
    width: 650px;
    height: 80px;
}.Text-Section1{
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
}.GS-btn{
    border: none;
    border-radius: 25px;
    color: white;
    width: 120px;
    height: 40px;
    background-color: #1D267E;
}.Images{
    width: 100%;
}.Company-Section{
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
}.Image1{

}.Image{
    display: grid;
    align-items: center;
}.Company1{
    width: 70px;
    height: 30px;
}.Company2{
    width: 100px;
    height: fit-content;
}.Company3{
    width: 100px;
    height: 30px;
}.Company4{

}