* {
    margin: 5px;

}

.Logo {
    flex-wrap: wrap;
    position: relative;
    width: 55px;
    height: 55px;
}

.Logo3,
.Logo4 {
    position: absolute;
    display: grid;
    top: 15px;
    left: 15px;
}



.Logo1 {
    position: absolute;
    margin-right: 2px;
    left: 0;
}

.Logo2 {
    position: absolute;
    right: 0;
}

.Logo5 {
    position: absolute;
    margin-right: 2px;
    bottom: 0;
    left: 0;
}

.Logo6 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.App {
    display: flex;
    align-items: center;
}

.Hero-Section {
    list-style-type: none;
    display: flex;
    color: grey;
    margin-left: 60px;
}

.Hero1,
.Hero2,
.Hero3,
.Hero4,
.Hero5,
.Hero6,
.Hero7 {
    margin-right: 50px;
}.Login-btn{
    border: none;
    background-color: transparent;
    color: grey;
}.Signup-btn{
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    width: 100px;
    height: 40px;
    background-color: #663046;
}