* {
    font-family: 'Poppins', sans-serif;
}

.Logo {
    margin-top: 10px;
}
.App {
    display: flex;
    margin-left: 50px;
    align-items: center;
}

.Hero-Section {
    list-style-type: none;
    display: flex;
    color: grey;
    margin-left: 60px;
}

.Hero1,
.Hero2,
.Hero3,
.Hero4,
.Hero5,
.Hero6,
.Hero7 {
    margin-right: 70px;
}

.Login-btn {
    border: none;
    background-color: transparent;
    color: grey;
    font-weight: bold;
}

.Signup-btn {
    margin-left: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    width: 120px;
    height: 45px;
    background-color: #1D267E;
}.Name{
    margin-left: 20px;
}.btn{
    display: flex;
    align-items: center;
    margin-left: 10px;
}