* {
    font-family: 'Poppins', sans-serif;
}

.App {
    display: flex;
    margin-left: 60px;
    width: 100%;
    align-items: center;
}
.Name {
    margin-left: 10px;
}.Logo{
    
}

.Hero {
    justify-content: space-between;
    width: 700px;
    align-items: center;
    margin-left: 10px;
    color: gray;
}

.Hero-Section {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.btn {
    display: flex;
    width: 200px;
    margin-left: 50px;
    justify-content: space-between;
    align-items: center;
}

.Login-btn {
    color: gray;
}

.Signup-btn {
    border: none;
    border-radius: 25px;
    color: white;
    width: 120px;
    height: 40px;
    background-color: #1D267E;
}